<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<!-- RmiServiceExporter把任何Spring管理的Bean输出成一个RMI服务。它是通过把Bean包装在一个适配器中工作的。
		适配器类被绑定到RMI注册表中，并且将请求代理给服务类,paymentService。
	-->
	<!--
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="paymentServiceServer" />
		</property>
		<property name="serviceName">
			<ref bean="PayService" />
		</property>
		<property name="serviceInterface">
			<ref bean="com.kurui.kums.base.rmi.test.PaymentService" />
		</property>


	</bean>
	-->
<!--
	<bean id="paymentServiceServer"
		class="com.kurui.kums.base.rmi.test.PaymentServiceImp">

	</bean>

 -->
<!--
	<bean id="paymentServiceClient"
		class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<property name="serviceUrl">
			<value>rmi://${paymenthost}/PayService</value>
		</property>
		<property name="serviceInterface">
			<value>com.kums</value>
		</property>
	</bean>
-->

</beans>

