<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean name="/report/report"
		class="com.kurui.kums.report.action.ReportAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="reportBiz">
			<ref bean="reportBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>
	<bean name="/report/creditReport"
		class="com.kurui.kums.report.action.CreditReportAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="creditReportBiz">
			<ref bean="creditReportBiz" />
		</property>
	</bean>
	<bean name="/report/creditReportList"
		class="com.kurui.kums.report.action.CreditReportListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="creditReportBiz">
			<ref bean="creditReportBiz" />
		</property>
	</bean>

	<bean name="/report/balanceList"
		class="com.kurui.kums.report.action.BalanceListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="balanceBiz">
			<ref bean="balanceBiz" />
		</property>
	</bean>

	<bean name="/report/cashFlowList"
		class="com.kurui.kums.report.action.CashFlowListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="cashFlowBiz">
			<ref bean="cashFlowBiz" />
		</property>
	</bean>

	<!--  dao、biz -->
	<bean id="reportBiz"
		class="com.kurui.kums.report.biz.ReportBizImp">
		<property name="reportDAO">
			<ref bean="reportDAO" />
		</property>
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
		<property name="dataTypeDAO">
			<ref bean="dataTypeDAO" />
		</property>
		<property name="financeOrderDAO">
			<ref bean="financeOrderDAO" />
		</property>
	</bean>

	<bean id="reportDAO" class="com.kurui.kums.report.dao.ReportDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="creditReportBiz"
		class="com.kurui.kums.report.biz.CreditReportBizImp">
		<property name="creditReportDAO">
			<ref bean="creditReportDAO" />
		</property>
	</bean>

	<bean id="creditReportDAO"
		class="com.kurui.kums.report.dao.CreditReportDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="cashFlowBiz"
		class="com.kurui.kums.report.biz.CashFlowBizImp">
		<property name="cashFlowDAO">
			<ref bean="cashFlowDAO" />
		</property>
	</bean>

	<bean id="cashFlowDAO"
		class="com.kurui.kums.report.dao.CashFlowDAOImp" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="balanceBiz"
		class="com.kurui.kums.report.biz.BalanceBizImp">
		<property name="balanceDAO">
			<ref bean="balanceDAO" />
		</property>
	</bean>

	<bean id="balanceDAO"
		class="com.kurui.kums.report.dao.BalanceDAOImp" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>