<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<!-- 数据库连接、关系映射、事务配置 -->
	<import resource="applicationContext-orm.xml" />
	<import resource="applicationContext-agent.xml" />
	<import resource="applicationContext-base.xml" />
	<import resource="applicationContext-finance.xml" />
	<import resource="applicationContext-market.xml" />
	<import resource="applicationContext-message.xml" />
	<import resource="applicationContext-report.xml" />
	<import resource="applicationContext-right.xml" />
	<import resource="applicationContext-monitor.xml" />
	<import resource="applicationContext-library.xml" />
</beans>